.container {
  margin: {
    left: auto;
    right: auto;
  }
  width: 66%;
  padding: 5.5rem 2.5rem;

  @include respond-to("md") {
    padding: 3.5rem 2rem;
    width: 100% !important;
  }
}

.container2 {
  margin: {
    left: auto;
    right: auto;
  }
  width: 75%;
  padding: 5.5rem 2rem;

  @include respond-to("lg") {
    padding: 3.5rem 2rem;
    width: 100% !important;
  }
}