.about {
  @include respond-to("md") {
    &__title {
      text-align: center;
    }

    &__description {
      max-width: 45rem;
      text-wrap: balance;
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
}
