.delivery {
  &__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem 0;
    justify-content: center;
    padding: {
      top: 3.5rem;
      bottom: 3.5rem;
    }
  }

  &__description {
    max-width: 28rem;
  }

  &__image {
    max-width: 28rem;
  }
}

@mixin delivery-sm-max {
  .delivery {
    &__image {
      max-width: 22rem;
    }

    &__description {
      text-wrap: balance;
      margin: {
        left: auto;
        right: auto;
      }
    }
  }
}
