.pros {
  background-color: $white;

  &__container {
    display: flex;
    gap: 1rem 4rem;
  }

  &__content {
    flex: 1 1 70%;
  }

  &__item {
    align-items: center;
    background-color: $gray-50;
    border-radius: 99rem;
    gap: 1rem;
    display: flex;
    padding: .5rem;

    &-icon {
      background-color: $white;
      border-radius: 99rem;
      flex-shrink: 0;
      padding: 0.5rem 1rem;
    }

    & + & {
      margin-top: 1rem;
    }
  }

  &__image {
    border-radius: 1rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
