.button {
  align-items: center;
  border-radius: 99px;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: {
    left: auto;
    right: auto;
    top: 2.5rem;
  }
  width: fit-content;

  &__text {
    color: $white;
    font: {
      size: 1rem;
      weight: 700;
    }
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    padding-right: 0;
    text: {
      align: center;
      transform: uppercase;
      wrap: balance;
    }
  }

  &--primary {
    background-color: $red-300;
    box-shadow: 0 0.5rem 1.5rem 0 rgba($red-300, 0.3);
  }

  &--outline {
    border: 1px solid $white;
  }

  &--primary &__icon {
    background-color: $red-500;
  }

  &--outline &__icon {
    border: 1px solid $white;
  }

  &__icon {
    align-items: center;
    border-radius: inherit;
    display: flex;
    height: 3rem;
    justify-content: center;
    padding: 0.5rem 1.25rem;
  }
}
