.title {
  font: {
    size: 2.25rem;
    weight: 500;
  }
  line-height: 1.3;
  text: {
    wrap: balance;
    transform: uppercase;
  }

  strong {
    font-weight: 900;
  }

  &--primary {
    color: $red-300;
  }
}

.text {
  color: $gray-700;
  font-size: 1.1875rem;
  line-height: 1.6;
}
